
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>Nam liber tempor cum solu parum clari</p>
        </div>
    </div>
</div>