
<div class="content-form">
        <h3>Bir Yorum Yapın</h3>
    
        <form method="post">
            <input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" required disabled/>
            <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
            <input type="text" placeholder="Mail Adresi" name="MailAdresi" required />

            <textarea placeholder="Yorum" name="Yorum"></textarea>
            <input type="submit" value="gönder" />
        </form>
 </div>
 </div>
 